* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}



/* Responsive Layout */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}



/* Flexbox */

.container {
  width: 100vw;
  /*height: 100vh;*/
  /* wenn weg, dann weißrau unten weg*/
  display: flex;
  justify-content: center;
  justify-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 10px 1.8rem;
}

.home {
  height: 100vh;
  background-color: #FFD558;
}

.yellow {
  background-color: #FFD558;
}

.whiteBox {
  background-color: #ffffff;
  border-radius: 10px;

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}



/* Text */
h1 {
  font-size: 2.4em;
  font-weight: 900;
  margin: 0.8rem;
  text-align: center;
  line-height: 1.2;
}

h2 {
  font-size: 1.6em;
  font-weight: 900;
  padding: 0 12px;
  display: inline;
  text-align: left;
}

h3 {
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
  margin: 20px 0 8px 0;
}

p {
  font-size: 1em;
  text-align: center;
  font-weight: 800;
}

.guideText {
  font-size: 1em;
  font-weight: 500;
  padding: 2rem 2rem 0rem;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

.icon-with-text {
  display: flex;
  align-items: center;
  margin: 10px;
}

.icon {
  width: 2rem;
}

.attentionText {
  font-size: 1.2em;
  font-weight: 800;
  color: #000000;
  padding: 1rem;
}

/* Logo Startseite */
#logo-home {
  width: 8rem;
}

#logo-header {
  width: 2.4rem;
  float: left;
}


/* Button */

.btn {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1.3rem 0;
  width: 19rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #fafafa;
  border: none;
  background: #5B6EEF;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #5b6fef5b;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled] {
  background: #5b6fefb4;

}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}



/* Header */

.header {
  background-color: #FFD558;
  color: #ffffff;
  padding: 10px 20px;
  position: relative;
  text-align: start;
}



/* Progress Bar */
.progress-bar {
  /*width: 20rem;*/
  margin: 1rem;
  height: 1.3rem;
  overflow: hidden;
  background: #afb5d7;
  border-radius: 24px;
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  overflow: hidden;
  color: #fafafa;
  font-weight: 800;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

#progress-bar-inner {
  height: 1.3rem;
  border-radius: 24px;
  animation: roundtime calc(7 * 1s) linear forwards;
  transform-origin: left center;
  background: linear-gradient(to left, #5B6EEF, #5B6EEF);
  animation-play-state: paused;
}

@keyframes roundtime {
  to {
    transform: scaleX(0.1);
  }
}



/* Footer */

.roundPrefix {
  text-align: center;
  font-size: 1rem;
}

.footer {
  text-align: center;
  position: relative;
  /*position: fixed;*/
  /* Element ist ganz unten am Screen, überlappt aber Elemente*/
  left: 0;
  top: 12px;
  width: 100%;
}



/* Input on Start Page*/

input {
  width: 19rem;
  padding: 1.3rem 0.6rem;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(236, 236, 236, 0.5);
  border-radius: 4px;
  background: rgb(236, 236, 236);
}

input::placeholder {
  color: #aaa;
}

#username {
  margin-bottom: 1rem;
  outline: none;
}

#saveUsernameBtn {
  border: none;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}



/* Game */

.choice-container {
  /*height: 100%;*/
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

.video-mask {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-color: #494844;
  padding: 0;
  margin: 0.5em 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;

}


/* Title on top of video*/

.title-overlay {
  z-index: 2;
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px #000000;
  color: white;
  transform: translate(-50%, -30%);
  background-color: #00000a40;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

/* Feedback */

.correct {
  border: 7px #4ED447 solid;
}

.incorrect {
  border: 7px #FF4F63 solid;
}

.greyedOut {
  filter: brightness(60%);
}

/* Blinkende Antwort*/

.blink {
  animation-name: animation_blink;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  animation-iteration-count: 3;
  border: 7px #4ED447 solid;
  z-index: -1;
}

@keyframes animation_blink {
  50% {
    border-color: #fff;
  }
}



/* Highscore */

#highscoreList {
  list-style: decimal;
  margin-bottom: 1rem;
}

.high-score {
  margin-bottom: 0.8rem;
}

li {
  text-align: justify;
  text-align-last: justify;
  font-weight: 600;
}

#finalScore {
  color: #4ED447;
  font-size: 1.2rem;
  margin: 1rem 0 2rem 0; 
}

#highscore-title {
  margin: 1rem 0;

}