* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

/* Responsive Layout */

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* For mobile phones: */
[class*="col-"] {
  padding: 15px;
  width: 100%;
  float: left;
}

/* Flexbox */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.8rem;
}

.yellow {
  background-color: #FFD558;
}

.whiteBox{
  background-color: #ffffff;
  border-radius: 10px;

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}



/* Text */
h1 {
  font-size: 2.4em;
  font-weight: 900;
  margin: 0.8rem;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  font-weight: 900;
  margin: 0.8rem;
}

h3 {
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
}

.guideText {
 font-size: 1em;
 font-weight: 500;
 padding: 3rem;
 justify-content: center;
 align-items: center;
 line-height: 130%;
}


/* Button */

.btn {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1.3rem 0;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(28, 26, 26);
  border: none;
  background: #5B6EEF;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #5b6fef5b;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled] {
  background: #5b6fefb4;

}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}



/* Header */

.header {
  background-color: #FFD558;
  color: #ffffff;
  padding: 10px 20px;
}



/* Footer */

.progressPrefix {
  text-align: center;
  font-size: 1rem;
}

.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 2rem;
  width: 100%;
}



/* Input on Start Page*/

input {
  width: 20rem;
  padding: 1.3rem 0.6rem;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(236, 236, 236, 0.5);
  border-radius: 4px;
  background: rgb(236, 236, 236);
}

input::placeholder {
  color: #aaa;
}

#username {
  margin-bottom: 1rem;
  outline: none;
}

#saveUsernameBtn {
  border: none;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}



/* Game */

.choice-container {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

.video-mask {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-color: #FFD558;
  padding: 0;
  margin: 0.5em 0;
}

video {
  width: 100%;
  cursor: pointer;
  position: relative;
}



/* Feedback */

.correct {
  border-style: solid;
  border-color: #44AF69;
  border-width: 5px;
}

.incorrect {
  border-style: solid;
  border-color: #FF4F63;
  border-width: 5px;
}



/* Highscore */

#highScoresList {
  list-style: decimal;
  margin-bottom: 2rem;
}

.high-score {
  margin-bottom: 0.8rem;
}

li {
  text-align: justify;
  text-align-last: justify;
}

/* Blinkende Antwort*/

.blink {
  animation-name: animation_blink;
  animation-timing-function: ease-in;
  animation-duration: 1s; 
  animation-iteration-count: 3;    
  border: 5px #44AF69 solid; 
  background-color: #44AF69;
  z-index: -1;
  /* filter: brightness(50%); */
  filter: hue-rotate(90deg) saturate(200%);
}

@keyframes animation_blink {
  50% { border-color:#fff ; }
}